# Items colors accroding to mime data

[filetype]
rules = [
	# Text
	{ mime = "text/*", fg = "#AABBAA" },

	# Images
	{ mime = "image/*", fg = "#A0DD0A" },

	# Media
	{ mime = "{audio,video}/*", fg = "#B5A6FF" },

	# Archives
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", fg = "red" },

	# Documents
	{ mime = "application/{pdf,doc,rtf}", fg = "#FF8466" },

	# Empty files
	{ mime = "inode/empty", fg = "#742939" },

	# Special files
	{ name = "*", is = "orphan", bg = "red" },
	{ name = "*", is = "exec"  , fg = "green" },

	# Dummy files
	{ name = "*", is = "dummy", bg = "red" },
	{ name = "*/", is = "dummy", bg = "red" },

	# Fallback (for Directories)
	# { name = "*", fg = "white" },
	{ name = "*/", fg = "#8877FF" }
]

