/* Apply this property to all element */
* {
    border-radius: 4px;
    border: none;
}

/* Apply to the main Window */
#window {
    margin: 10px;
    font-size: 18px;
    font-family:"Roboto Mono Medium";
    border: 1px solid gray;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
}

/* Search Field */
#input {
    border: 1px solid gray;
    background-color: rgba(20, 20, 20, 0.8);
    color: #BBBBBB;
    padding: 0.0em;
}

/* All Entries */
#entry {
    padding: 0.25em;
    /*Text color*/
    color: rgba(220, 220, 220, 0.8);
}

/* Selected Entry */
#entry:selected {
    color: #333333;
    background-color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0);
    /* background: linear-gradient(98deg, #BBCCAA, #BBBBAA); */
}

/* Text inside the Selected entry */
#text:selected {
    color: #000000;
    background-color: #AAAAAA;
}

/* Text outside the Selected entry */
#scroll {
    color: #AAAAAA;
}

/* Icons alignment */
image {
    margin-left: 0.48em;
    margin-right: 0.48em;
}

